<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Shopping List App</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<p style="display:none;">https://vueschool.io/lessons/getting-started-with-vuejs</p>
		<div id="shopping-list">
			<div class="header">
				<h1>{{ header ? header.toLocaleUpperCase() : 'WELCOME' }}</h1>
				<button v-if="state === 'default'" @click="changeState('edit')" class="btn btn-primary">Add Item</button>
				<button v-else @click="changeState('default')" class="btn btn-cancel">Cancel Item</button>
			</div>
			<div v-if="state === 'edit'" class="add-item-form">
				<input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem"/>
				<button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem">Save Item</button>
			</div>
			<!--<a v-bind:href="newItem" target="_blank">Dynamic Link</a>-->
			<ul>
				<!-- :class="[item.purchased ? 'strikeout': '', item.highPriority]" class="priority" -->
				<li v-for="item in items" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{item.label}}</li>
			</ul>
			<p v-if="items.length === 0">Nice job! You've bought all your items.</p>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script>
			var shoppingList = new Vue({
				el: '#shopping-list',
				data : {
					state: 'default',
					header: 'shopping list app',
					newItem: '',
					items: [
						{
							label: '10 party hats',
							purchased: false,
						},
						{
							label: '2 board games',
							purchased: true,
						},
						{
							label: '20 cups',
							purchased: false,
						}
					]
				},
				computed:  {
					characterCount() {
						return this.newItem.length();
					},
					reversedItems(){
						return this.items.slice(0).reverse();
					}
				},
				// to change data
				methods: {
					saveItem: function(){
						// js logic
						this.items.push({
							label: this.newItem,
							purchased: false,
						});
						this.newItem = '';
					},
					changeState: function(newState){
						this.state = newState;
						this.newItem = '';
					},
					togglePurchased: function(item){
						item.purchased = !item.purchased;
					}
				}
			});
		</script>
	</body>
</html>